<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="majorlist">
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a1">
            <tr>
                <td colspan="12"><span>农学</span></td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="font-size: 15px">自然保护与环境生态类&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><button style="background-color: transparent;border: 1px">野生动物与自然保护区管理</button></td>
                <td><button style="background-color: transparent;border: 1px">农业资源与环境</button></td>
                <td><button style="background-color: transparent;border: 1px">水土保持与荒漠化防治</button></td>
            </tr>
            <tr><td style="height: 20px"></td></tr>
            <tr>
                <td style="font-size: 15px">草学类&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><button style="background-color: transparent;border: 1px">草业科学</button></td>
            </tr>
            <tr><td style="height: 20px"></td></tr>
            <tr>
                <td style="font-size: 15px">动物生产类&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><button style="background-color: transparent;border: 1px">动物科学</button></td>
                <td><button style="background-color: transparent;border: 1px">蜂学</button></td>
            </tr>
            <tr><td style="height: 20px"></td></tr>
            <tr>
                <td style="font-size: 15px">林学类&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><button style="background-color: transparent;border: 1px">林学</button></td>
                <td><button style="background-color: transparent;border: 1px">森林保护</button></td>
                <td><button style="background-color: transparent;border: 1px">园林</button></td>
            </tr>
            <tr><td style="height: 20px"></td></tr>
            <tr>
                <td style="font-size: 15px">水产类&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><button style="background-color: transparent;border: 1px">水生动物医学</button></td>
                <td><button style="background-color: transparent;border: 1px">海洋渔业科学与技术</button></td>
                <td><button style="background-color: transparent;border: 1px">水产养殖学</button></td>
                <td><button style="background-color: transparent;border: 1px">水族科学与技术</button></td>
            </tr>
            <tr><td style="height: 20px"></td></tr>
            <tr>
                <td style="font-size: 15px">植物生产类&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><button style="background-color: transparent;border: 1px">园艺教育</button></td>
                <td><button style="background-color: transparent;border: 1px">园艺</button></td>
                <td><button style="background-color: transparent;border: 1px">农学</button></td>
                <td><button style="background-color: transparent;border: 1px">植物科学与技术</button></td>
                <td><button style="background-color: transparent;border: 1px">植物保护</button></td>
                <td><button style="background-color: transparent;border: 1px">设施农业科学与工程</button></td>

            </tr>
            <tr><td style="height: 20px"></td></tr>
            <tr>
                <td>&nbsp;</td>
                <td><button style="background-color: transparent;border: 1px">种子科学与工程</button></td>
                <td><button style="background-color: transparent;border: 1px">烟草</button></td>
                <td><button style="background-color: transparent;border: 1px">茶学</button></td>
                <td><button style="background-color: transparent;border: 1px">农艺教育</button></td>
                <td><button style="background-color: transparent;border: 1px">应用生物科学</button></td>
            </tr>
            <tr><td style="height: 20px"></td></tr>
            <tr>
                <td style="font-size: 15px">动物医学类&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><button style="background-color: transparent;border: 1px">动物药学</button></td>
                <td><button style="background-color: transparent;border: 1px">动物医学</button></td>
                <td><button style="background-color: transparent;border: 1px">动植物检疫</button></td>
            </tr>
        </table>
    </div>
    <!---->
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a2">
            <tr>
                <td colspan="12"><span>教育学</span></td>
            </tr>
        </table>
        <table  >
            <tr style="text-align: center">
                <td colspan="12" rowspan="5">
                    test
                </td>
            </tr>
        </table>
    </div>
    <!---->
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a3">
            <tr>
                <td colspan="12"><span>医学</span></td>
            </tr>
        </table>
        <table  >
            <tr style="text-align: center">
                <td colspan="12" rowspan="5">
                    test
                </td>
            </tr>
        </table>
    </div>
    <!---->
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a4">
            <tr>
                <td colspan="12"><span>文学</span></td>
            </tr>
        </table>
        <table  >
            <tr style="text-align: center">
                <td colspan="12" rowspan="5">
                    test
                </td>
            </tr>
        </table>
    </div>
    <!---->
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a5">
            <tr>
                <td colspan="12"><span>艺术学</span></td>
            </tr>
        </table>
        <table  >
            <tr style="text-align: center">
                <td colspan="12" rowspan="5">
                    test
                </td>
            </tr>
        </table>
    </div>
    <!---->
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a6">
            <tr>
                <td colspan="12"><span>工学</span></td>
            </tr>
        </table>
        <table  >
            <tr style="text-align: center">
                <td colspan="12" rowspan="5">
                    test
                </td>
            </tr>
        </table>
    </div>
    <!---->
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a7">
            <tr>
                <td colspan="12"><span>法学</span></td>
            </tr>
        </table>
        <table  >
            <tr style="text-align: center">
                <td colspan="12" rowspan="5">
                    test
                </td>
            </tr>
        </table>
    </div>
    <!---->
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a8">
            <tr>
                <td colspan="12"><span>哲学</span></td>
            </tr>
        </table>
        <table  >
            <tr style="text-align: center">
                <td colspan="12" rowspan="5">
                    test
                </td>
            </tr>
        </table>
    </div>
    <!---->
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a9">
            <tr>
                <td colspan="12"><span>理学</span></td>
            </tr>
        </table>
        <table  >
            <tr style="text-align: center">
                <td colspan="12" rowspan="5">
                    test
                </td>
            </tr>
        </table>
    </div>
    <!---->
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a10">
            <tr>
                <td colspan="12"><span>经济学</span></td>
            </tr>
        </table>
        <table  >
            <tr style="text-align: center">
                <td colspan="12" rowspan="5">
                    test
                </td>
            </tr>
        </table>
    </div>
    <!---->
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a11">
            <tr>
                <td colspan="12"><span>历史学</span></td>
            </tr>
        </table>
        <table  >
            <tr style="text-align: center">
                <td colspan="12" rowspan="5">
                    test
                </td>
            </tr>
        </table>
    </div>
    <!---->
    <div style="height: 30px"></div>
    <!---->
    <div>
        <table class="table table-bordered" bgcolor="#E9E9E9" id="a12">
            <tr>
                <td colspan="12"><span>管理学</span></td>
            </tr>
        </table>
        <table  >
            <tr style="text-align: center">
                <td colspan="12" rowspan="5">
                    test
                </td>
            </tr>
        </table>
    </div>
</div>
</html>